.container {
  width: 100%;
}
.container h1 {
  color: white;
}
.btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px 0;
}
.btn button {
  width: 200px;
  height: 35px;
  border-radius: 8px;
}
.save {
  background-color: azure;
  color: black;
}
.btn button:hover {
  cursor: pointer;
  background-color: inherit;
  color: white;
}
.cancel {
  background-color: brown;
}
